body {
  background: radial-gradient(#a8defc, #54c4e0);
  padding-top: 80px;
  padding-bottom: 50px;
  padding-left: 0px;
  padding-right: 0px; }

/****************   Grillas   *******************/
#header-contenido {
  display: grid;
  grid-template-areas: "titulo-header header-navegacion";
  grid-template-columns: 1fr 8fr;
  text-align: center; }

/***********************************************/
/*************** Estilo del header ****************/
#header-contenido {
  background: linear-gradient(yellow, white);
  color: black;
  height: 80px;
  width: 100%;
  top: 0;
  bottom: initial;
  left: 0;
  right: initial;
  position: fixed; }

nav {
  float: right; }
  nav ul {
    margin: 0;
    padding: 0;
    padding-right: 20px; }
    nav ul li {
      display: inline-block;
      line-height: 80px; }
    nav ul a {
      display: block;
      padding: 0 100px;
      transition: 0.5s; }
    nav ul a:hover {
      background: blue;
      transform: scale(1.2, 1.2);
      color: white; }

/******************************************************/
/*************** Estilo del contenido ****************/
#tabla {
  background-color: yellow;
  font-family: 'Open Sans Condensed', sans-serif;
  width: 50%;
  min-width: 250px;
  margin: 20px auto;
  text-align: center; }
  #tabla table {
    width: 100%;
    background-color: white; }

.contenido--titulo--principal, .contenido--titulo, .contenido--subtitulo {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: yellow;
  font-weight: 100;
  font-size: 5em;
  text-align: center; }

.contenido--titulo {
  background-color: blue;
  font-size: 3em; }

.contenido--subtitulo {
  text-align: left;
  font-size: 1.5em;
  border-radius: 10px black; }

/******************************************************/
/*************** Estilo del footer ****************/
#footer {
  background: linear-gradient(to top, yellow, white);
  color: black;
  text-align: center;
  height: initial;
  width: 100%;
  top: initial;
  bottom: 0;
  left: initial;
  right: initial;
  position: fixed; }
  #footer p {
    margin: 0; }
  #footer a {
    color: white; }

/******************************************************/
