body {
  background: radial-gradient(#a8defc, #54c4e0);}

/* MISC */
/****************  Diseño de las Grillas   *******************/
#header-contenido {
  display: grid;
  grid-template-areas: "titulo-header header-navegacion";
  grid-template-columns: 1fr 8fr;
  text-align: center; }

/***********************************************/
/* PARTIALS */
/**************** Diseño para el header ****************/
#header-contenido {
  grid-area: header-contenido;
  background: linear-gradient(yellow, white);
  color: black;
  line-height: 80px; }
  #header-contenido h1 {
    color: #333;
    font-weight: 700;
    font-size: 2.3em; }

#header-navegacion {
  float: right; }
  #header-navegacion ul {
    margin: 0;
    padding: 0;
    padding-right: 20px; }
    #header-navegacion ul li {
      display: inline-block; }
    #header-navegacion ul a {
      display: block;
      padding: 0 50px;
      transition: 0.5s; }
    #header-navegacion ul a:hover {
      background: blue;
      transform: scale(1.5, 1.5);
      color: white; }

/**********************************************************/
/*************** Estilo del contenido ****************/
#tabla {
  background-color: yellow;
  font-family: 'Open Sans Condensed', sans-serif;
  width: 50%;
  min-width: 250px;
  margin: 20px auto;
  text-align: center; }
  #tabla table {
    width: 100%;
    background-color: white; }

.contenido--titulo--principal, .contenido--titulo, .contenido--subtitulo {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: yellow;
  font-weight: 100;
  font-size: 5em;
  text-align: center; }

.contenido--titulo {
  background-color: blue;
  font-size: 3em; }

.contenido--subtitulo {
  text-align: left;
  font-size: 1.5em;
  border-radius: 10px black; }

/******************************************************/
/*************** Estilo del footer ****************/
#footer {
  background: linear-gradient(to top, yellow, white);
  color: black;
  text-align: center;
  height: initial;
  width: 100%;
  top: initial;
  bottom: 0;
  left: initial;
  right: initial;
  position: fixed; }
  #footer p {
    margin: 0; }
  #footer a {
    color: white; }

/******************************************************/
/**************** Diseño para la vista movile ****************/
@media screen and (max-width: 768px) {
  /*************  grillas  ***************/
  #header-contenido {
    grid-area: header-contenido;
    display: grid;
    grid-template-areas: "logo logo logo logo"
 "nav nav nav nav";
    background: yellow;
    color: black; }
  /**************************************/
  /*************  Header  ***************/
  #header-contenido {
    text-align: center; }
  #header-navegacion {
    grid-area: nav;
    flex-direction: row; }
    #header-navegacion ul li {
      display: unset;
      line-height: 10px;
      padding: 0px; }
    #header-navegacion ul a {
      display: unset;
      padding: 0px; }
  /*****************************************/ 
 /*************  Contenido  ***************/
 #contenido {
  grid-area: contenido;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  height: 100%;
  text-align: center;
  font-size: 1.0em; }
  #tabla {
    background-color: yellow;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 100%;
    min-width: 250px;
    margin: 20px auto;
    text-align: center; }
    #tabla table {
      width: 100%;
      background-color: white; }
  .contenido--tabla span{
    text-align: left;}
  .contenido--tabla li{
    text-align: left;}
  .contenido--titulo--principal, .contenido--titulo, .contenido--subtitulo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: yellow;
    font-weight: 100;
    font-size: 2em;
    text-align: center; }
  .contenido--titulo {
    background-color: blue;
    font-size: 1.2em; }
  .contenido--subtitulo {
    text-align: left;
    font-size: 1em;
    border-radius: 10px black;}
  img{
    width: 100%;
  }}