
body {
	background-image: url("../img/fondo.jpg");
}

#contenido {
    font-family:'Open Sans Condensed', sans-serif;
    width: 90%;
    min-width:250px;
    margin: 20px auto;
    position: relative;
  }

#cuadro {
	background-color: yellow;
    font-family:'Open Sans Condensed', sans-serif;
    min-width: 90%;
    margin: 20px auto;
	text-align: center;
  }

#cuadro table{
	width: 100%;
	background-color: white;
}

#cuadro span{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 1.8em;
	text-align: center;
	color: black;
}

th{
	text-align: center;
}
