

body {
	background-image: url("../img/fondo.jpg");
}


/* MISC */
@import "./misc/variables";
@import "./misc/normalize";
@import "./misc/mixings";
@import "./misc/grillas";

/* PARTIALS */
@import "./partials/header";
@import "./partials/footer";



/**************** Diseño para el contenido ****************/
#formulario{
    background-color:white;
    border-radius: 10px;
    border: 3px solid black;
    margin: 5% auto;
    }

/**********************************************************/



/**************** Diseño para la vista movile ****************/
@media screen and (max-width: 768px){

    /*************  grillas  ***************/
    #grilla{
		display: grid;
		grid-template-areas: 
		"header-contenido"
		"contenido"
		"footer";
		grid-template-rows: 0.5fr 4fr 0.5fr;
	}
    #header-contenido{
		grid-area: header-contenido;
		display: grid;
		grid-template-areas: 
		"logo logo logo logo"
		"nav nav nav nav";
		background: yellow;
		color: black;
		}
    /**************************************/

    /*************  Header  ***************/
	#header-contenido{
        text-align: center;

    }

	#header-navegacion{
		grid-area: nav;
		flex-direction: row;

        ul li{
            display: unset;
            line-height: 10px;
            padding: 0px;
        }
        ul a{
            display: unset;
            padding: 0px;
        }
	}
	/*****************************************/
}