

//misc
@import "./misc/variables";
@import "./misc/mixings";


body {
	background:radial-gradient(#a8defc,rgb(84, 196, 224));
    @include paddings(80px, 50px, initial, initial);
}



/****************   Grillas   *******************/
#header-contenido{
	display: grid;
	grid-template-areas: 
	"titulo-header header-navegacion";
	grid-template-columns: 1fr 8fr;
	text-align:  map-get($map: $estilos, $key: centro);
  }
/***********************************************/

/*************** Estilo del header ****************/

#header-contenido {
	background: linear-gradient(yellow, white);
	color: map-get($map: $colores, $key:negro);
    @include sizes(80px,100%);
    @include positions(0,initial,0,initial,fixed);
}	

nav {
	float:  map-get($map: $estilos, $key: derecha);

    ul{
        margin: 0;
        padding: 0;
        padding-right: 20px;

        li{
            display: inline-block;
            line-height: 80px;
        }
        a{
            display:  map-get($map: $estilos, $key: bloque);
            padding: 0 100px;
            transition: 0.5s;
        }
        a:hover{
            background: map-get($map: $colores, $key: azul);
            transform: scale(1.2,1.2);
            color: map-get($map: $colores, $key: blanco);
        }
    }
}
/******************************************************/

/*************** Estilo del contenido ****************/
#tabla {
	background-color: map-get($map: $colores, $key: amarillo);
    font-family:'Open Sans Condensed', sans-serif;
    @include positions(initial,50%);
    min-width:250px;
    margin: 20px auto;
	text-align: map-get($map: $estilos, $key: centro);

    table{
        @include positions(initial,100%);
	    background-color: map-get($map: $colores, $key: blanco);
    }
  }



.contenido--titulo--principal{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: map-get($map: $colores, $key: amarillo);
    font-weight: 100;
	font-size: 5em;
	text-align: map-get($map: $estilos, $key: centro);
}
.contenido--titulo{
    @extend .contenido--titulo--principal;
    background-color: map-get($map: $colores, $key: azul);
    font-size: 3em;
}
.contenido--subtitulo{
    @extend .contenido--titulo--principal;
    text-align:  map-get($map: $estilos, $key: izquierda);
    font-size: 1.5em;
}


/******************************************************/

/*************** Estilo del footer ****************/
#footer {
	background:linear-gradient(to top,yellow,white);
	color: black;
	text-align: center;
    @include sizes(initial,100%);
    @include positions(initial,0,initial,initial,fixed);

    p{
        margin: 0;
    }
    a{
        color: map-get($map: $colores, $key: blanco);
    }
}
/******************************************************/