<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="En esta pagina puedes encontrar curiosidades de la serie y tus personajes favoritos">
    <meta name="keywords"  content="Simpsons, Curiosidades, Personajes, Reparto">

    <link rel="stylesheet" href="../CSS/curiosidades-translate.css">
    <link rel="stylesheet" href="../bootstrap/bootstrap.css">

    <title>SimpsonsLandia</title>
</head>
<body>

    
    <header id="header-contenido">

        <h1>SimpsonsLandia</h1>

        <nav id="header-navegacion">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="contacto-bootstrap.html">Contacto</a></li>
                <li><a href="merchandising.html">Merchandising</a></li>
                <li><a href="temporadas.html">Temporadas</a></li>
            </ul>
        </nav>
    </header>

    <section id="contenido">
        <h1 class="contenido--titulo--principal">Curiosidades</h1>
        
        <br>

        <div id="tabla">
            <span>Personajes principales</span>
            <table>
                <tr>
                    <td>Homero Simpsons</td>
                    <td>Marge Simpsons</td>
                    <td>Bart Simpsons</td>
                    <td>Lisa Simpsons</td>
                </tr>
                <tr>
                    <td><img src="../img/Homer_Simpson.png" alt=""></td>
                    <td><img src="../img/Marge_Simpson.png" alt=""></td>
                    <td><img src="../img/Bart_Simpson.png" alt=""></td>
                    <td><img src="../img/Lisa_Simpson.png" alt=""></td>
                </tr>
            </table>
        </div>

        <br>

        <div id="tabla">
            <span>Personajes Secundarios</span><br>
            <table>
                <tr>
                    <td>Troy McClure</td>
                    <td>McCallister</td>
                    <td>Disco Stu</td>
                    <td>Duffman</td>
                </tr>
                <tr>
                    <td><img src="../img/Troy_McClure.png" alt=""></td>
                    <td><img src="../img/Horatio_McCallister.png" alt=""></td>
                    <td><img src="../img/Disco_Stu.png" alt=""></td>
                    <td><img src="../img/Duffman.png" alt=""></td>
                </tr>
            </table>
        </div>

        <br>

        <div id="tabla">
            <span>Reparto Latinoamerica</span><br>
            <table>
                <tr>
                    <td>Humberto Vélez</td>
                    <td>Nancy Mckenzie</td>
                    <td>Marina Huerta</td>
                    <td>Patricia Acevedo</td>
                </tr>
                <tr>
                    <td><img src="../img/reparto/Humberto Vélez.jpg" alt=""></td>
                    <td><img src="../img/reparto/Nancy Mckenzie.jpg" alt=""></td>
                    <td><img src="../img/reparto/Marina Huerta.jpg" alt=""></td>
                    <td><img src="../img/reparto/Patricia Acevedo.jpg" alt=""></td>
                </tr>
                <tr>
                    <td>Homero Simpsons</td>
                    <td>Marge Simpsons</td>
                    <td>Bart Simpsons</td>
                    <td>Lisa Simpsons</td>
                </tr>
            </table>
        </div>

        <div class="contenido--tabla">
            <h2 class="contenido--titulo">Traducciones</h2>
            <br>
            <h3 class="contenido--subtitulo">Personajes</h3>
            <span>En el doblaje de la serie muchos nombres de los personajes y lugares, además de algunas frases fueron traducidos al español, un ejemplo es "Homer" que en el doblaje fue traducido a "Homero". Algunos a partir de ciertas temporadas se dejaron de traducir conservando sus nombres originales en inglés, un ejemplo "Chalmers" fue traducido a Archundia, pero temporadas después se dejó de traducir el apellido. Lo siguiente es una lista de los nombres, de izquierda a derecha son los nombres en inglés y español:</span>
            <br>
            <ul>
                <li>Homer Jay Simpson - Homero Simpson. En un episodio su segundo nombre fue traducido de "Jay" a "Jimeno".</li>
                <li>Bartholomew Jo-jo "Bart" Simpson - Bartolomeo J. Simpson.</li>
                <li>Santa's Little Helper - "El Enviado de Santa Claus" en su debut ("Especial de Navidad" de la 1ª temporada). "Huesos" desde la 2ª hasta la 7ª temporada; pero en "La canción de Skinner" (5ª temporada), Bart aclara que ese sólo es su apodo y su nombre real es "Ayudante de Santa Claus". A partir de la 8ª temporada, le llaman "Ayudante de Santa" consistentemente.</li>
                <li>Abraham Simpson - Durante todas las temporadas se mantuvo su nombre (Abraham, a veces pronunciado Abrahán) y apodo (Abe) originales, salvo en un episodio en el que se lo llamó Abel.</li>
                <li>Chief Clancy Wiggum - Jefe Górgory, excepto en el episodio "La odisea de Homero", donde se dejó su apellido original, en el episodio "El cuarteto de Homero" el nombre de Clancy fue llamado Higinio y en "Bart de noche" fue llamado Celso.</li>
            </ul>
            <br>
            <h3 class="contenido--subtitulo">Grupos musicales</h3>
            <ul>
                <li>The Be Sharps - Los Borbotones.</li>
                <li>Party Posse - La Banda de Luxo.</li>
                <li>Sadgams - Sadgasmo</li>
            </ul>
            <br>
            <h3 class="contenido--subtitulo">Lugares</h3>
            <ul>
                <li>Kwik-E-Mart - El Mini Super, hasta la 19ª temporada cuando se empezó a usar el nombre original.</li>
                <li>Moe's Tavern - La Taberna de Moe, en algunos episodios llamado "El bar de Moe".</li>
                <li>Kamp Krusty - Campo Krusty, en su aparición en el episodio del mismo nombre de la 4ª temporada y Campamento Krusty, en su aparición en el episodio "El Campamento de Krusty" de la 28ª temporada.</li>
            </ul>
            <br>
            <h3 class="contenido--subtitulo">Frases</h3>
            <ul>
                <li>Eat my shorts! - En las primeras temporadas la frase de Bart era traducida como ¡Vete al diablo!, después ¡Tírase a un pozo! y luego ¡Come calzón! en el episodio "El Sax de Lisa" de la 9ª temporada. Sin embargo, a partir de las siguientes temporadas se dejó su traducción literaria ¡Cómete mis pantaloncillos!.</li>
            </ul>
        </div>
        <br>
        <div class="contenido--tabla">
            <h2 class="contenido--titulo">Referencias</h2>
            <br>
            <h3 class="contenido--subtitulo">Referencias al doblaje</h3>
            <br>
            <span>En la serie, Humberto Vélez se mencionó en la serie, usando su nombre como alias para Homero (cosa que no se dice en la versión en inglés):</span>
            <ul>
                <li>En el episodio Bart recorre el mundo cuando Lisa le dice a Homero que le gustaba Lalo Landa (Langdon Alger, en su versión original en inglés), al preguntarle a Homero quien era éste responde: ¿Beto Vélez? refiriéndose a Humberto Vélez, quien lo doblaba. En inglés, se refería a Larson.</li>
                <li>En el episodio Gorgorito cuando Homero estaba grabando un mensaje para su teléfono, dice: "Hola, habla Beto Vélez; venga el mensaje ¡venga el mensaje!" haciendo nuevamente referencia a Vélez. En inglés, se refería a Jerry Maguire, personaje de la película del mismo nombre, interpretado por Tom Cruise.</li>
            </ul>
            <br>
            <span>También ha sido notoria la mención de actores de doblaje diversos en la serie (que tampoco se dice en la versión en inglés):</span>
            <ul>
                <li>En el episodio Monty no puede comprar mi amor , el Sr. Burns presenta al monstruo del Lago Ness como la novena maravilla del mundo, señalando que la octava fue la voz del Tata Arvizu, refiriéndose a Jorge Arvizu, actor pionero en el doblaje mexicano. En inglés, se refería a Gomer Pyle, personaje interpretado por Jim Nabors, quien fue introducido en la mitad de la tercera temporada de El show de Andy Griffith.</li>
                <li>En el episodio 22 peliculas cortas sobre Springfield varios actores realizaron 2 papeles dentro de este mismo capitulo como ejemplos Gabriel Chávez hizo a Burns y al papa de Millhouse, Federico Romano hizo al superintendente Chalmers y al Señor Alto que persigue a Nelson y también Alejandro Mayen que hace a Lou y al peluquero que atiende a Lisa.</li>
                <li>En el episodio Bart se enamora vuelve a aparecer el personaje de Rainier Wolfcastle quien es el papá de Greta en este capítulo, esta vez interpretado por el gran actor Juan Alfonso Carralero y en un diálogo menciona que el fue la voz de Will Smith en El Príncipe del Rap, incluso hizo la voz que el señor Carralero le puso en la serie de los 90s.</li>
                <li>El empleado que se jubila en la planta, al que luego reemplaza Marge en el episodio Marge consigue empleo fue llamado en español "Carlos Magaña". En inglés, se llama Jack Marley.</li>
                <li>En el episodio Homie, el payaso, Tony, el gordo dice: "Vamos por parque con Federico Romano". En inglés, Tony, el gordo dice: "Let's go to Big 5" ("Vamos al Big 5"); siendo ésta una tienda americana de artículos deportivos, que ofrece munición para rifles de caza.</li>
            </ul>
            <br>
            <h3 class="contenido--subtitulo">Referencias Culturales</h3>
            <br>
            <ul>
                <li>En el episodio "El Cuarteto de Homero" cuando cuenta la historia de su grupo musical menciona al conductor Paco Buengesto haciendo referencia al animador y locutor mexicano Paco Malgesto.</li>
                <li>En los episodios "Hijos de segunda clase", "Bart contra Lisa contra el tercer año", "Jefe de corazones", "Postales de la controversia" y "La Casita del Horror XXV", así como en un gag del sofá de la temporada 15 se hace referencia o se menciona a Pokémon. Curiosamente, las primeras temporadas de este anime fueron dobladas en Audiomaster, mismo estudio que dobló las primeras 14 temporadas de Los Simpson.</li>
                <li>En ese mismo episodio cuando Moe esta vendiendo sus ostras menciona que tienen el rostro de Verónica Méndez y Lucia Castro haciendo referencia a las actrices Lucia Méndez y Verónica Castro solo que combinando sus nombres.</li>
                <li>En el capítulo "Springfield prospero o el problema del juego" Kent Brockman menciona el nombre del conductor de noticias como Abraham en ingles se llama Scott Christian, probablemente es una referencia al periodista mexicano Abraham Zabludovsky.</li>
                <li>En dos episodios de la decíma temporada se hace referencia a Juan Ramón Palacios (hermano de la cantante mexicana Tatiana) y sus "Desvelados", programa que tenía en la ciudad de Monterrey, en donde Humberto Vélez conoció a Juan Ramón Palacios en una Convención de Comics.</li>
            </ul>
        </div>
        
    </section>
    <footer id="footer">
        <ul>
            <span>nosotros</span>
            <span>Términos y condiciones</span>
            <span>ask</span>
        </ul>
    </footer>
</body>
</html>