<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../CSS/merchandising.css">
    <title>Document</title>
</head>
<body>
    <div id="grilla">
        <header id="header-contenido" class="borde">
            
            <a id="header-logo" href="#">
                <span class="titulo-header">SimpsonsLandia</span>
            </a> <!-- / #logo-header -->

            <nav id="header-navegacion">
                <ul>
                    <li><a href="../index.html">principal</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                    <li><a href="personajes.html">Personajes</a></li>
                    <li><a href="temporadas.html">Temporadas</a></li>
                </ul>
            </nav><!-- / nav -->

        </header><!-- / #main-header -->

        <div id="grilla-contenido">
            <div>
                <aside id="barra-lateral" class="borde">
                <div class="contenido">
                    <ul>
                        <span>Bazar y Cocina</span>
                        <li><a>tasas</a></li>
                        <li><a>platos</a></li>
                        <li><a>vasos</a></li>
                    </ul>
                    <ul>
                        <span>Juegos y juguetes</span>
                        <li><a>0 a 24 meses</a></li>
                        <li><a>2 a 4 años</a></li>
                        <li><a>5 a 7 años</a></li>
                        <li><a>8 años o mas</a></li>
                    </ul>
                    <ul>
                        <span>Ropa</span>
                        <li><a>Remeras</a></li>
                        <li><a>Zapatillas</a></li>
                        <li><a>camperas</a></li>
                        <li><a>buzos</a></li>
                        <li><a>gorros</a></li>
                        <li><a>accesorios</a></li>
                    </ul>
                    <ul>
                        <span>libros ,revistas ,comics</span>
                        <li><a>libros</a></li>
                        <li><a>comics</a></li>
                        <li><a>revistas</a></li>
                    </ul>
                    <ul>
                        <span>Ropa</span>
                        <li><a>Remeras</a></li>
                        <li><a>Zapatillas</a></li>
                        <li><a>camperas</a></li>
                    </ul>
                    <ul>
                        <span>Antigüedades y Colecciones</span>
                        <li><a>muñecos antiguos</a></li>
                        <li><a>otros</a></li>
                    </ul>
                </div>
                </aside></div>
            <div>
                <section id="contenido" class="borde">
                    <h1>Producto 1</h1>
                    <h1>Producto 2</h1>
                    <h1>Producto 3</h1>
                    <h1>Producto 4</h1>
                    <h1>Producto 5</h1>
                    <h1>Producto 6</h1>
                    <h1>Producto 7</h1>
                    <h1>Producto 8</h1>
                    <h1>Producto 9</h1>
                </section>
            </div>
        </div>


        <footer id="footer" class="borde">
            <ul>
                <span>nosotros</span>
                <span>Términos y condiciones</span>
                <span>ask</span>
            </ul>
        </footer>
    </div>
</body>
</html>