<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/personajes.css">
<link rel="stylesheet" href="../bootstrap/bootstrap.css">

    <title>SimpsonsLandia</title>
</head>
<body>

    <header id="header-contenido">

        <h1 id="titulo-header">SimpsonsLandia</h1>

        <nav id="header-navegacion">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/contacto-bootstrap.html">Contacto</a></li>
                <li><a href="../views/merchandising.html">Merchandising</a></li>
                <li><a href="../views/temporadas.html">Temporadas</a></li>
            </ul>
        </nav>
    </header>

    <section id="contenido">
        <h1>Personajes de la serie</h1>
        
        <br>

        <div id="tabla">
            <span>Personajes principales</span>
            <table border="">
                <tr>
                    <td>Homero Simpsons</td>
                    <td>Marge Simpsons</td>
                    <td>Bart Simpsons</td>
                    <td>Lisa Simpsons</td>
                </tr>
                <tr>
                    <td><img src="../img/Homer_Simpson.png" alt=""></td>
                    <td><img src="../img/Marge_Simpson.png" alt=""></td>
                    <td><img src="../img/Bart_Simpson.png" alt=""></td>
                    <td><img src="../img/Lisa_Simpson.png" alt=""></td>
                </tr>
            </table>
        </div>

        <br>

        <div id="tabla">
            <span>Personajes Secundarios</span><br>
            <table border="">
                <tr>
                    <td>Troy McClure</td>
                    <td>Captain Horatio McCallister</td>
                    <td>Disco Stu</td>
                    <td>Duffman</td>
                </tr>
                <tr>
                    <td><img src="../img/Troy_McClure.png" alt=""></td>
                    <td><img src="../img/Horatio_McCallister.png" alt=""></td>
                    <td><img src="../img/Disco_Stu.png" alt=""></td>
                    <td><img src="../img/Duffman.png" alt=""></td>
                </tr>
            </table>
        </div>

        <br>

        <div id="tabla">
            <span>Celebridades invitadas</span><br>
            <table border="">
                <tr>
                    <td>Bill Gates</td>
                    <td>Mel Gibson</td>
                    <td>Mick Jagger</td>
                    <td>Stan Lee</td>
                </tr>
                <tr>
                    <td><img src="../img/Bill_Gates.png" alt=""></td>
                    <td><img src="../img/Mel_Gibson.png" alt=""></td>
                    <td><img src="../img/Mick_Jagger.png" alt=""></td>
                    <td><img src="../img/Stan_Lee.png" alt=""></td>
                </tr>
            </table>
        </div>
        
    </section>
    <footer id="footer">
        <ul>
            <span>nosotros</span>
            <span>Términos y condiciones</span>
            <span>ask</span>
        </ul>
    </footer>
</body>
</html>