<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilo-global.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/temporadas.css">
    <title>Document</title>
</head>
<body>

    <header id="header-contenido">
		
		<a id="header-logo" href="#">
			<span class="titulo-header">SimpsonsLandia</span>
		</a> <!-- / #logo-header -->

        <nav>
            <ul>
                <li><a href="../index.html">principal</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="merchandising.html">Merchandising</a></li>
                <li><a href="personajes.html">Personajes</a></li>
            </ul>
        </nav><!-- / nav -->

	</header><!-- / #main-header -->

    <section id="container">
        <div id="cuadro">
            <span>Temporada 1</span>
            <table border="1">
                <tr>
                    <th>capitulo serie</th>
                    <th>capitulo temporada</th>
                    <th>nombre</th>
                    <th>dirigido por</th>
                    <th>escrito por</th>
                    <th>emitido</th>
                    <th>audiencia(en millones)</th>
                </tr>
                <tr>
                    <td>01</td>
                    <td>1</td>
                    <td>Simpsons Roasting on an Open Fire</td>
                    <td>David Silverman</td>
                    <td>Mimi Pond</td>
                    <td>17 de diciembre de 1989</td>
                    <td>26.7</td>
                </tr>
                <tr>
                    <td>02</td>
                    <td>2</td>
                    <td>Bart the Genius</td>
                    <td>David Silverman</td>
                    <td>Jon Vitti</td>
                    <td>14 de enero de 1990</td>
                    <td>24.5</td>
                </tr>
                <tr>
                    <td>03</td>
                    <td>3</td>
                    <td>Homer's Odyssey</td>
                    <td>Wesley Archer</td>
                    <td>Jay Kogen y Wallace Wolodarsky</td>
                    <td>21 de enero de 1990</td>
                    <td>27.5</td>
                </tr>
                <tr>
                    <td>04</td>
                    <td>4</td>
                    <td>There's No Disgrace Like Home</td>
                    <td>Gregg Vanzo y Kent Butterworth</td>
                    <td>Al Jean y Mike Reiss</td>
                    <td>28 de enero de 1990</td>
                    <td>20.2</td>
                </tr>
                <tr>
                    <td>05</td>
                    <td>5</td>
                    <td>Bart the General</td>
                    <td>David Silverman</td>
                    <td>John Swartzwelder</td>
                    <td>4 de febrero de 1990</td>
                    <td>27.1</td>
                </tr>
            </table>
        </div>
        <br>
        <div id="cuadro">
            <span>Temporada 2</span>
            <table border="1">
                <tr>
                    <th>capitulo serie</th>
                    <th>capitulo temporada</th>
                    <th>nombre</th>
                    <th>dirigido por</th>
                    <th>escrito por</th>
                    <th>emitido</th>
                    <th>audiencia(en millones)</th>
                </tr>
                <tr>
                    <td>14</td>
                    <td>1</td>
                    <td>Bart Gets an "F"</td>
                    <td>David Silverman</td>
                    <td>David M. Stern</td>
                    <td>11 de octubre de 1990</td>
                    <td>33.6</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>2</td>
                    <td>Simpson and Delilah</td>
                    <td>Rich Moore</td>
                    <td>Jon Vitti</td>
                    <td>18 de octubre de 1990</td>
                    <td>29.9</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>3</td>
                    <td>Treehouse of Horror</td>
                    <td>Wes Archer, Rich Moore, David Silverman</td>
                    <td>Edgar Allan Poe y Sam Simon</td>
                    <td>25 de octubre de 1990</td>
                    <td>27.4</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>4</td>
                    <td>Two Cars in Every Garage and Three Eyes on Every Fish</td>
                    <td>Wes Archer</td>
                    <td>Sam Simon y John Swartzwelder</td>
                    <td>1 de noviembre de 1990</td>
                    <td>26.1</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>5</td>
                    <td>Dancin' Homer</td>
                    <td>Mark Kirkland</td>
                    <td>Ken Levine y David Isaacs</td>
                    <td>8 de noviembre de 1990</td>
                    <td>26.1</td>
                </tr>
            </table>
        </div>
        <br>
        <div id="cuadro">
            <span>Temporada 3</span>
            <table border="1">
                <tr>
                    <th>capitulo serie</th>
                    <th>capitulo temporada</th>
                    <th>nombre</th>
                    <th>dirigido por</th>
                    <th>escrito por</th>
                    <th>emitido</th>
                    <th>audiencia(en millones)</th>
                </tr>
                <tr>
                    <td>36</td>
                    <td>1</td>
                    <td>Stark Raving Dad</td>
                    <td>Rich Moore</td>
                    <td>Al Jean y Mike Reiss</td>
                    <td>19 de septiembre de 1991</td>
                    <td>22.9</td>
                </tr>
                <tr>
                    <td>37</td>
                    <td>2</td>
                    <td>Mr. Lisa Goes to Washington</td>
                    <td>Wes Archer</td>
                    <td>George Meyer</td>
                    <td>26 de septiembre de 1991</td>
                    <td>20.2</td>
                </tr>
                <tr>
                    <td>38</td>
                    <td>3</td>
                    <td>When Flanders Failed</td>
                    <td>Jim Reardon</td>
                    <td>Jon Vitti</td>
                    <td>3 de octubre de 1991</td>
                    <td>22.8</td>
                </tr>
                <tr>
                    <td>39</td>
                    <td>4</td>
                    <td>Bart the Murderer</td>
                    <td>Rich Moore</td>
                    <td>John Swartzwelder</td>
                    <td>10 de octubre de 1991</td>
                    <td>20.8</td>
                </tr>
                <tr>
                    <td>40</td>
                    <td>5</td>
                    <td>Homer Defined</td>
                    <td>Mark Kirkland</td>
                    <td>Howard Gewirtz</td>
                    <td>17 de octubre de 1991</td>
                    <td>20.6</td>
                </tr>
            </table>
        </div>
        
    </section>
    <footer id="footer">
        <ul>
            <span>nosotros</span>
            <span>Términos y condiciones</span>
            <span>ask</span>
        </ul>
    </footer>
</body>
</html>