<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../css/temporadas.css">
    
    <title>SimpsonsLandia</title>
</head>
<body>

    <header id="header-contenido">

        <h1 id="titulo-header">SimpsonsLandia</h1>

        <nav id="header-navegacion">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/personajes.html">Personajes</a></li>
                <li><a href="../views/merchandising.html">Merchandising</a></li>
                <li><a href="../views/contacto-bootstrap.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <section id="container">
        <div id="cuadro">
            <span>Temporada 1</span>
            <table border="1">
                <tr>
                    <th>Titulo Original</th>
                    <th>Titulo Latinoamerica</th>
                    <th>Sinopsis</th>
                    <th>Link Star+</th>
                </tr>
                <tr>
                    <td>Simpsons Roasting on an Open Fire</td>
                    <td>Especial de Navidad</td>
                    <td>Los Simpson siempre han tenido dos fuentes de dinero de las que beber en tiempos de despilfarro navideño: 
                        La paga extra en la Central Nuclear y un bote que Marge va llenando de dinero durante el año. Sin embargo, 
                        este año no habrá paga extra de Navidad en la Central y Marge tiene que gastar el dinero del tarro en quitar un tatuaje 
                        que Bart se había hecho a escondidas. Homero, que no le ha contado a su familia que este año no le dan la paga extra, 
                        hará lo posible por salvar las navidades de los Simpson sin que se note.</td>
                    <td><a href="https://www.starplus.com/video/79529cd0-f1cf-4eec-8b1d-ea1e1b76043b">link</a></td>
                </tr>
                <tr>
                    <td>Bart the Genius</td>
                    <td>Bart es un genio</td>
                    <td>La enemistad que une a Bart con Martin Prince hace que Bart cambie los nombres de sus tests de inteligencia: 
                        Al suyo le pone el nombre de Martin y al de Martin, el suyo. Más tarde, el psicólogo del colegio, el Dr. Pryor, 
                        comunica a Homero y Marge que Bart es un superdotado.</td>
                    <td><a href="https://www.starplus.com/video/250ca502-751e-4b37-a465-f8b518d76ced">link</a></td>
                </tr>
                <tr>
                    <td>Homer's Odyssey</td>
                    <td>La odisea de Homero</td>
                    <td>Homero provoca un accidente en la Central Nuclear y es despedido. Deprimido, decide suicidarse, pero poco antes de hacerlo, 
                        descubre su nueva vocación: descubrir todos los fallos en seguridad de Springfield y exigir su corrección. 
                        Su último objetivo es, precisamente, la Central Nuclear.</td>
                    <td><a href="https://www.starplus.com/video/0e8e7f27-0ab2-495f-8254-d99d3c53ce4f">link</a></td>
                </tr>
                <tr>
                    <td>There's No Disgrace Like Home</td>
                    <td>Una familia modelo</td>
                    <td>Homero lleva a su familia al «Centro Terapéutico Familiar del Dr. Marvin Monroe» para tratar de ser una familia mejor.</td>
                    <td><a href="https://www.starplus.com/video/5e837a36-5db0-451c-82d3-0cca1490f784">link</a></td>
                </tr>
                <tr>

                    <td>Bart the General</td>
                    <td>El general Bart</td>
                    <td>Defendiendo a Lisa, Bart acaba peleándose con el matón del colegio, Nelson Muntz. Bart pide ayuda al abuelo 
                        para que Nelson le deje en paz y éste le presenta a Herman: Un veterano de la guerra dueño de una tienda de armas 
                        y antigüedades militares que preparará una guerra contra Nelson.</td>
                    <td><a href="https://www.starplus.com/video/051c32fc-0d9a-4bee-a960-9c6ab85eccdb">link</a></td>
                </tr>
            </table>
        </div>
        
    </section>
    <footer id="footer">
        <ul>
            <span>nosotros</span>
            <span>Términos y condiciones</span>
            <span>ask</span>
        </ul>
    </footer>
</body>
</html>